@{
    ViewData["Title"] = "Liet ke N bai hat";
}

<h2>So luong bai hat muon liet ke</h2>
<form action="/BaiHat/LietKeCacBaiHat" method="post">
    <input type="text" name="num"></input>
    <input type="submit" name="submit" value="Liet Ke"></input>
</form>