@model IEnumerable<QuanLyCaSi_XLAJAX.Models.BaiHat>

@{
    ViewData["Title"] = "Liet ke cac bai hat co trong album";
}
@{
    Layout = null;
}

@{
    <table border="1">
        <tr>
            <th>Ma Bai Hat</th>
            <th>Ten Bai Hat</th>
            <th>The Loai</th>
        </tr>
        @foreach( var item in Model)
        {
            <tr>
                <td>@item.MaBaiHat</td>
                <td>@item.TenBaiHat</td>
                <td>@item.TheLoai</td>
            </tr>
        }
    </table>
}