@{
    ViewData["Title"] = "Tim bai hat";
}

<h2>Tim Bai Hat</h2>
<form action="TimBaiHat" method="post">
    <input type="text" name="TenBaiHat"></input>
    <input type="submit" name="submit" value="Tìm"></input>
</form>
