<form action="ThemDiemCachLy" method="post">
    <label>Mã Điểm Cách Ly</label>
    <input type="text" name="MaDiemCachLy"></input></br>
    <label>Tên Điểm Cách Ly</label>
    <input type="text" name="TenDiemCachLy"></input></br>
    <label>Địa Chỉ</label>
    <input type="text" name="DiaChi"></input></br>
    <input type="submit" name="Thêm"></input>
</form>