@{
    ViewData["title"] = "Them Can Ho";
}

<form action="/CanHo/ThemCanHo" method="post">
    <label>Ma Can Ho</label>
    <input type="text" name="MaCanHo"></input></br>
    <label>Ten Chu Ho</label>
    <input type="text" name="TenChuHo"></input></br>
    <input type="submit" name="submit" value="Them"></input>
</form>