<form action="ThemBaiHat" method="post">
    <label>Mã bài hát</label>
    <input type="text" name="MaBaiHat"></input></br>
    <label>Tên bài hát</label>
    <input type="text" name="TenBaiHat"></input></br>
    <label>Thể loại</label>
    <input type="text" name="TheLoai"></input></br>
    <input type="submit" name="submit" value="Thêm"></input>
</form>