@model IEnumerable<PlayList_HK1_2122.Models.CaSi>

<select id="NamSinh" name="NamSinh">
    @foreach(var item in Model)
    {
        <option value="@item.NamSinh">@item.NamSinh</option>
    }
</select>
<button class="btn_LietKe">Liệt Kê</button>
<div class="dscs"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".btn_LietKe").click(function(){
            var namSinh =$("#NamSinh").val();
            $.ajax({
                url:"/CaSi/LietKeCaSiCoNgaySinhDuocChon",
                method:"post",
                data:{NamSinh:namSinh},
                success:function(data){
                    $(".dscs").html(data)
                }
            })
        })
    })
</script>